$white: #ffffff;
$dell-blue: #0085c3;
$dell-gray: #aaaaaa;
$dell-green: #7ab800;
$dell-yellow: #f2af00;
$dell-orange: #ff7700;
$dell-red: #dc5034;
$dell-dark-red: #ce1126;
$dell-berry: #b7295a;
$dell-purple: #6e2585;
$dell-teal: #71c6c1;
$dell-periwinkle: #5482ab;
$dell-aqua: #009bbb;
$dell-dark-gray: #444444;
$dell-light-gray: #eeeeee;
