{
	"sfdc": {
		"communityBaseUrl": "https://<SANDBOX_NAME>-dfs.<SANDBOX_INSTANCE>.force.com/<COMMUNITY_PATH>",
		"loginUrl": "https://test.salesforce.com",
		"username": "<USERNAME>",
		"password": "<PASSWORD><TOKEN>",
		"pollInterval": 10000,
		"pollTimeout": 120000,
		"version": "36.0"
	}
}