#accounts-list {
  .md-caption {
    color: $dell-gray;
  }
  .dfs-accounts-more {
    padding: 0;
  }
  md-item span {
    @include ellipsis;
    width: 100%;
  }
  .account {
    margin-top: 1px;
    margin-bottom: 0;
  }
}

#add-account {
  position: fixed;
  right: 15px;
  bottom: 10px;
}
