#accounts-list {
  .md-caption {
    color: $dell-gray;
  }
  .dfs-accounts-more {
    padding: 0;
  }
  md-item span {
    @include ellipsis;
    width: 100%;
  }
  .account {
    outline: none;
    margin-top: 1px;
    margin-bottom: 0;
    cursor: pointer;
    &.selected {
      margin: 20px -10px;
    }
    md-card-actions {
      background-color: $background;
      margin: 0;
    }
    h4 {
      margin: 10px 0;
    }
    .info-row {
      margin: 4px;
    }
    label {
      color: $dell-gray;
    }
  }
}

#add-account {
  position: fixed;
  right: 8px;
  bottom: 8px;
}
